@charset "UTF-8";
body {
		 margin: 0;
	}
	div#wapper {
		width: 100%;
		text-align: left;
		min-height: 300px;
		margin: 0 auto;
	    /*display: inline-block;*/    
	}
	header, footer, nav, aside, section {
		border: 0px solid #999;
		margin: 1px;
		padding: 5px;
	}
    header {
		background-color:lightgrey;
		height:100px;
	}
	nav {
		width:200px;
		height:650px;
		/*background-color:#339999;*/
		color:white;
		float:left;
	}
	section {
		width:75%;
		text-align:left;
		float:left;
		padding:5px;
	}
	footer {
		background-color:#FFCC00;
		height:100px;
		clear:both;
	}
	header, nav, footer { text-align:center; }
	header, footer { line-height:100px; }
	nav, section { line-height:20px; }
	
	
.middle{
  margin-top: 20px;
  width: 1000px;
  height: 500px;
  position: relative;
}
.middle-left{
  outline: 0px solid #9F9F9F;
  position: absolute;
  top: 0px;
  width: 600px;
  height:500px;
  margin: 5px 5px 5px 5px;
  /* background-color: #00D8FF; */
}
.middle-right{
  outline: 1px solid #9F9F9F;
  position: absolute;
  top: 5px;
  left: 620px;
  width: 380px;
  height: 500px;
  margin: 5px 5px 5px 5px;
}
